:root {
    --main-bg-color: rgb(39, 39, 39);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: var(--main-bg-color);
    font-size: 1.5em;
}

.navbar {
    background-color: var(--main-bg-color); /* Updated to match your site's theme */
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Aligns nav items to the right */
    list-style-type: none;
    margin: 0;
    padding: 1% 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0 10px;
    margin: 0; /* Resets default margin */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block; /* Changed to block for consistency with dropdown styles */
    text-align: center;
}

.navbar a:hover, .nav-footer a:hover, .dropdown:hover .dropbtn {
    color: gray; /* Maintain your hover color */
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.navbar li {
    float: left; /* For horizontal layout */
    position: relative; /* For dropdown positioning */
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg-color);
    color: white;
    min-width: 160px;
    z-index: 1;
    flex-direction: column;
    align-items: center; /* This will center-align the child elements */
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}


.dropdown-content a {
    color: white;
    padding: 12px 0px; /* Adjust padding as needed, ensure it's symmetrical */
    text-decoration: none;
    text-align: center; /* This ensures text alignment */
    width: 100%; /* Ensures link uses full width of its container */
}


.home_img {
    width: 100%;
    position: relative;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 50px 0;
    text-align: center;
    color: black;
    font-weight: 1000;
}

footer {
    position: relative;
    bottom: 0;
    background-color: var(--main-bg-color);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-footer a{
    text-decoration: none;
    color: white;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
    }
    

    .navbar li, .dropdown-content li {
        width: 100%; /* Full width for stacked items */
    }

    .navbar a {
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .dropdown-content {
        /* left: 25%;
        transform: translateX(0%); */
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 1.25em; /* Adjust font size for smaller screens */
    }
}

/*  */
/* Areas of wellness page */
/*  */

.aow_description {
    left: 50%; /* center horizontally */
    transform: translate(0%); /* adjust the positioning to the center */
    text-align: justify;
    color: white;
    width: 96%;
    margin: auto;
}

.aow_description h2 {
    text-align: center;
}


.area {
    position: relative;
    width: 100%;
}

.area img {
    width: 100%;
    display: block; /* ensures the image takes up space and defines the height of .area */
}

.area_description {
    position: absolute;
    top: 50%; /* center vertically */
    left: 50%; /* center horizontally */
    transform: translate(-50%, -50%); /* adjust the positioning to the center */
    width: 100%; /* ensure it spans the width of .area */
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.area:hover .area_description {
    color: rgb(219, 219, 219);
}

.area_description p {
    font-weight: 100;
    width: 96%;
    text-align: justify;
    margin: auto;
}


@media screen and (max-width: 768px) {
    .area_description {
        font-size: 0.75em;
        padding: 0;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    .area_description p {
        display: none;
    }
}


/* * {
    box-sizing: border-box;
} */


/*  */
/* Areas of wellness individual pages */
/*  */

.body {
    background-color: white;
    padding: 0px 2% 15px 2%;
    margin-bottom: 15px;
}

.individual_area_description {
    left: 50%; /* center horizontally */
    transform: translate(0%); /* adjust the positioning to the center */
    text-align: center;
    color: black;
    padding: 2em;
    border-bottom: 5px;
}



/* Broad */
.body li div {
    font-weight: 600;
    padding: 0;
    margin: 0;
}
