body{    
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    background-color: black;
    font-size: 1.5em;
}

.nav-header, .nav-footer {
    background-color: black;
    width: 100%;
}

.nav-header ul {
    display: flex;
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
    justify-content: flex-end;
}

.nav-header a, .nav-footer a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.nav-header a:hover, .nav-footer a:hover{
    color: gray;
}

.home_img {
    width: 100%;
    position: relative;
}

h1 {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 50px 0;
    text-align: center;
    color: rgb(53, 53, 53);
    font-weight: 1000;
}

footer {
    position: relative;
    bottom: 0px;
    background-color: black;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


/* New media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .nav-header ul {
        display: flex; /* Use flexbox */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 20px 0; /* Add some padding on top and bottom */
    }

    .nav-header li {
        float: none; /* Disable floating */
    }

    .nav-header a {
        padding: 10px; /* Adjust padding for smaller screens */
        width: 100%; /* Make links fill the container */
        text-align: center; /* Ensure text is centered */
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 1.25em; /* Increase the base size on small screens */
    }
}